<div class="card">
    <div class="card-body">
        <div *ngIf="(this.messagingService.message$ | async)?.length === 0">
            No message yet....say hi by using the message box below 
        </div>
        <ul *ngIf="(this.messagingService.message$ | async)?.length > 0" class="chat">
            <li *ngFor="let message of (this.messagingService.message$ | async)">
                <div>
                    <span class="chat-image float-right">
                        <img class="img-circle rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}" alt="{{message.senderUserName}}">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{message.dateSent | timeago}}</span> 
                                <span class="text-danger" *ngIf="!message.dateRead && message.senderUserName !== username"> (unread)</span>   
                                <span class="text-success" *ngIf="message.dateRead && message.senderUserName !== username"> (read)</span>   
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="card-footer">
        <form #sendMsgForm="ngForm" id='sendMsgForm' (ngSubmit)="sendMsgForm.valid && sendMessage()">
            <div class="input-group">
                <input type="text" class="form-control input-sm"  name="newMsg" [(ngModel)]="newMsg" placeholder="Send a message" required >
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" [disabled]='!sendMsgForm.valid'>Send</button>
                </div>
            </div>
        </form>
    </div>
</div>